body{background: #000;}
.breadcrumbs{display: inline-flex;
    list-style: none;
    letter-spacing: 1px;}
    #AA1{color: #fccc07;}
.c1{color: #fccc07;}
.c2{color: #fff;}
.AA2{background: #fff;padding: 20px;}
li{list-style: none;}
i{color: #fccc07;    position: relative;
    top: 5px;}
#red{font-size: 30px;}
.c4{margin-top: 10px;}
#btn2{background-color: #fccc07; border: none;}
#color12{color: #fff;}
#sit{color: #fff;}
#floor{    font-size: 45px;}
.r1{margin-top: 20px;}
.r2{border-right: 1px solid;border-bottom: 1px solid;}
.r4{border-right: 1px solid;}
.r3{border-bottom: 1px solid;}
.r5{ margin-top: 20px; }
.r7{margin-bottom: 30px;}
#btn23{background-color: #fccc07; border: none; margin-top: 30px;}
.r6{background-image: url(../img/12.jpg);
    background-size: cover;
    max-height: 500px;
    height: 100vh;}
.h1{background: #000;}
.h21{    padding-top: 18px;
    background: #e0e0e07d;
    border-radius: 5px;}
#search{background: #fccc07;color: #fff;}
.h22{margin-top: 50px;}
/*-----------------testi--------------------------*/
#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 60px;
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-indicators {
    position: relative;
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-top: 20px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    opacity: 0.4;
    overflow: hidden;
    transition: all .4s ease-in;
    vertical-align: middle;
}
#quote-carousel .carousel-indicators .active {
    width: 128px;
    height: 128px;
    opacity: 1;
    transition: all .2s;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

.footer{padding: 30px}
/*-----------------testi--------------------------*/

